USE [CreatedByDuc]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 10/16/2024 9:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[aid] [int] NOT NULL,
	[wsid] [int] NULL,
	[quantity] [int] NULL,
	[alpha] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[aid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 10/16/2024 9:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[did] [int] NOT NULL,
	[dname] [nvarchar](100) NULL,
	[dtype] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[did] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 10/16/2024 9:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[eid] [nvarchar](50) NOT NULL,
	[ename] [nvarchar](100) NULL,
	[salaryLevel] [nvarchar](10) NULL,
	[did] [int] NULL,
	[createdby] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[eid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feature]    Script Date: 10/16/2024 9:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feature](
	[featureId] [int] NOT NULL,
	[featureName] [nvarchar](100) NOT NULL,
	[url] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[featureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Plan]    Script Date: 10/16/2024 9:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plan](
	[plid] [int] IDENTITY(1,1) NOT NULL,
	[startd] [date] NULL,
	[endd] [date] NULL,
	[did] [int] NULL,
 CONSTRAINT [PK__Plan__40E443F29610D727] PRIMARY KEY CLUSTERED 
(
	[plid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlanCampaign]    Script Date: 10/16/2024 9:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlanCampaign](
	[canid] [int] IDENTITY(1,1) NOT NULL,
	[plid] [int] NOT NULL,
	[pid] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[estimatedeffort] [float] NULL,
 CONSTRAINT [PK__PlanCamp__1531FCEA444ECCE1] PRIMARY KEY CLUSTERED 
(
	[canid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 10/16/2024 9:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[pid] [int] NOT NULL,
	[pname] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[pid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 10/16/2024 9:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[roleId] [int] NOT NULL,
	[roleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[roleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleFeature]    Script Date: 10/16/2024 9:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleFeature](
	[roleId] [int] NOT NULL,
	[featureId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[roleId] ASC,
	[featureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScheduleCampaign]    Script Date: 10/16/2024 9:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleCampaign](
	[scid] [int] NOT NULL,
	[canid] [int] NULL,
	[date] [date] NULL,
	[shift] [nvarchar](10) NULL,
	[quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[scid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 10/16/2024 9:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[displayName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Employee]    Script Date: 10/16/2024 9:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Employee](
	[username] [nvarchar](50) NOT NULL,
	[eid] [nvarchar](50) NOT NULL,
	[active] [bit] NULL,
 CONSTRAINT [PK_User_Employee] PRIMARY KEY CLUSTERED 
(
	[username] ASC,
	[eid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 10/16/2024 9:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[username] [nvarchar](50) NOT NULL,
	[roleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC,
	[roleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkerSchedule]    Script Date: 10/16/2024 9:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkerSchedule](
	[wsid] [int] NOT NULL,
	[scid] [int] NULL,
	[eid] [nvarchar](50) NULL,
	[quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[wsid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Attendance] ([aid], [wsid], [quantity], [alpha]) VALUES (1, 1, 53, 0.95)
INSERT [dbo].[Attendance] ([aid], [wsid], [quantity], [alpha]) VALUES (2, 2, 82, 1.05)
INSERT [dbo].[Attendance] ([aid], [wsid], [quantity], [alpha]) VALUES (3, 3, 76, 0.98)
GO
INSERT [dbo].[Department] ([did], [dname], [dtype]) VALUES (1, N'Phòng Quản Lý Sản Xuất', N'houseoffice')
INSERT [dbo].[Department] ([did], [dname], [dtype]) VALUES (2, N'Phòng Quản Lý Công Nhân', N'houseoffice')
INSERT [dbo].[Department] ([did], [dname], [dtype]) VALUES (3, N'Phòng Sản Xuất 1', N'workshop')
GO
INSERT [dbo].[Employee] ([eid], [ename], [salaryLevel], [did], [createdby]) VALUES (N'CN001', N'Nguyễn Văn A', N'F1', 3, N'giamdoc')
INSERT [dbo].[Employee] ([eid], [ename], [salaryLevel], [did], [createdby]) VALUES (N'CN002', N'Trần Thế B', N'F2', 3, N'giamdoc')
INSERT [dbo].[Employee] ([eid], [ename], [salaryLevel], [did], [createdby]) VALUES (N'CN003', N'Lê Văn C', N'F3', 3, N'giamdoc')
GO
INSERT [dbo].[Feature] ([featureId], [featureName], [url]) VALUES (1, N'Add new product', N'/products/create')
INSERT [dbo].[Feature] ([featureId], [featureName], [url]) VALUES (2, N'Edit product details', N'/products/edit')
INSERT [dbo].[Feature] ([featureId], [featureName], [url]) VALUES (3, N'Delete product', N'/products/delete')
GO
SET IDENTITY_INSERT [dbo].[Plan] ON 

INSERT [dbo].[Plan] ([plid], [startd], [endd], [did]) VALUES (1, CAST(N'2024-10-01' AS Date), CAST(N'2024-10-31' AS Date), 3)
INSERT [dbo].[Plan] ([plid], [startd], [endd], [did]) VALUES (2, CAST(N'2024-11-01' AS Date), CAST(N'2024-11-30' AS Date), 3)
INSERT [dbo].[Plan] ([plid], [startd], [endd], [did]) VALUES (3, CAST(N'2024-10-17' AS Date), CAST(N'2024-10-19' AS Date), 4)
SET IDENTITY_INSERT [dbo].[Plan] OFF
GO
SET IDENTITY_INSERT [dbo].[PlanCampaign] ON 

INSERT [dbo].[PlanCampaign] ([canid], [plid], [pid], [quantity], [estimatedeffort]) VALUES (1, 1, 1, 5000, 1)
INSERT [dbo].[PlanCampaign] ([canid], [plid], [pid], [quantity], [estimatedeffort]) VALUES (2, 1, 2, 7000, 1)
INSERT [dbo].[PlanCampaign] ([canid], [plid], [pid], [quantity], [estimatedeffort]) VALUES (3, 1, 3, 7000, 1)
SET IDENTITY_INSERT [dbo].[PlanCampaign] OFF
GO
INSERT [dbo].[Product] ([pid], [pname]) VALUES (1, N'Giỏ')
INSERT [dbo].[Product] ([pid], [pname]) VALUES (2, N'Thúng')
INSERT [dbo].[Product] ([pid], [pname]) VALUES (3, N'Mẹt')
GO
INSERT [dbo].[Role] ([roleId], [roleName]) VALUES (1, N'Giám Đốc')
INSERT [dbo].[Role] ([roleId], [roleName]) VALUES (2, N'Trưởng Phòng')
INSERT [dbo].[Role] ([roleId], [roleName]) VALUES (3, N'Quản Đốc')
GO
INSERT [dbo].[RoleFeature] ([roleId], [featureId]) VALUES (1, 1)
INSERT [dbo].[RoleFeature] ([roleId], [featureId]) VALUES (1, 2)
INSERT [dbo].[RoleFeature] ([roleId], [featureId]) VALUES (1, 3)
GO
INSERT [dbo].[ScheduleCampaign] ([scid], [canid], [date], [shift], [quantity]) VALUES (1, 1, CAST(N'2024-10-01' AS Date), N'K1', 168)
INSERT [dbo].[ScheduleCampaign] ([scid], [canid], [date], [shift], [quantity]) VALUES (2, 2, CAST(N'2024-10-01' AS Date), N'K1', 234)
INSERT [dbo].[ScheduleCampaign] ([scid], [canid], [date], [shift], [quantity]) VALUES (3, 3, CAST(N'2024-10-01' AS Date), N'K1', 234)
GO
INSERT [dbo].[User] ([username], [password], [displayName]) VALUES (N'giamdoc', N'password123', N'Giám Đốc')
INSERT [dbo].[User] ([username], [password], [displayName]) VALUES (N'quandoc', N'password789', N'Quản Đốc')
INSERT [dbo].[User] ([username], [password], [displayName]) VALUES (N'truongphong', N'password456', N'Trưởng Phòng')
GO
INSERT [dbo].[UserRole] ([username], [roleId]) VALUES (N'giamdoc', 1)
INSERT [dbo].[UserRole] ([username], [roleId]) VALUES (N'quandoc', 3)
INSERT [dbo].[UserRole] ([username], [roleId]) VALUES (N'truongphong', 2)
GO
INSERT [dbo].[WorkerSchedule] ([wsid], [scid], [eid], [quantity]) VALUES (1, 7, N'CN001', 56)
INSERT [dbo].[WorkerSchedule] ([wsid], [scid], [eid], [quantity]) VALUES (2, 8, N'CN002', 78)
INSERT [dbo].[WorkerSchedule] ([wsid], [scid], [eid], [quantity]) VALUES (3, 9, N'CN003', 78)
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD FOREIGN KEY([wsid])
REFERENCES [dbo].[WorkerSchedule] ([wsid])
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([did])
REFERENCES [dbo].[Department] ([did])
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_User] FOREIGN KEY([createdby])
REFERENCES [dbo].[User] ([username])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_User]
GO
ALTER TABLE [dbo].[Plan]  WITH CHECK ADD  CONSTRAINT [FK__Plan__did__5165187F] FOREIGN KEY([did])
REFERENCES [dbo].[Department] ([did])
GO
ALTER TABLE [dbo].[Plan] CHECK CONSTRAINT [FK__Plan__did__5165187F]
GO
ALTER TABLE [dbo].[PlanCampaign]  WITH CHECK ADD  CONSTRAINT [FK__PlanCampai__plid__52593CB8] FOREIGN KEY([plid])
REFERENCES [dbo].[Plan] ([plid])
GO
ALTER TABLE [dbo].[PlanCampaign] CHECK CONSTRAINT [FK__PlanCampai__plid__52593CB8]
GO
ALTER TABLE [dbo].[PlanCampaign]  WITH CHECK ADD  CONSTRAINT [FK__PlanCampaig__pid__534D60F1] FOREIGN KEY([pid])
REFERENCES [dbo].[Product] ([pid])
GO
ALTER TABLE [dbo].[PlanCampaign] CHECK CONSTRAINT [FK__PlanCampaig__pid__534D60F1]
GO
ALTER TABLE [dbo].[RoleFeature]  WITH CHECK ADD FOREIGN KEY([featureId])
REFERENCES [dbo].[Feature] ([featureId])
GO
ALTER TABLE [dbo].[RoleFeature]  WITH CHECK ADD FOREIGN KEY([roleId])
REFERENCES [dbo].[Role] ([roleId])
GO
ALTER TABLE [dbo].[ScheduleCampaign]  WITH CHECK ADD  CONSTRAINT [FK__ScheduleC__canid__5629CD9C] FOREIGN KEY([canid])
REFERENCES [dbo].[PlanCampaign] ([canid])
GO
ALTER TABLE [dbo].[ScheduleCampaign] CHECK CONSTRAINT [FK__ScheduleC__canid__5629CD9C]
GO
ALTER TABLE [dbo].[User_Employee]  WITH CHECK ADD  CONSTRAINT [FK_User_Employee_Employee] FOREIGN KEY([eid])
REFERENCES [dbo].[Employee] ([eid])
GO
ALTER TABLE [dbo].[User_Employee] CHECK CONSTRAINT [FK_User_Employee_Employee]
GO
ALTER TABLE [dbo].[User_Employee]  WITH CHECK ADD  CONSTRAINT [FK_User_Employee_User] FOREIGN KEY([username])
REFERENCES [dbo].[User] ([username])
GO
ALTER TABLE [dbo].[User_Employee] CHECK CONSTRAINT [FK_User_Employee_User]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD FOREIGN KEY([roleId])
REFERENCES [dbo].[Role] ([roleId])
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD FOREIGN KEY([username])
REFERENCES [dbo].[User] ([username])
GO
ALTER TABLE [dbo].[WorkerSchedule]  WITH CHECK ADD FOREIGN KEY([scid])
REFERENCES [dbo].[ScheduleCampaign] ([scid])
GO
ALTER TABLE [dbo].[WorkerSchedule]  WITH CHECK ADD FOREIGN KEY([eid])
REFERENCES [dbo].[Employee] ([eid])
GO
